/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.Recipe-Box {
    padding-bottom: 5px;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
    border-radius: 15px;
}
    .Recipe-Box .item-Box {
        float: left;
        padding: 10px;
        margin: 5px;
        background-image: url(http://inspiredboy.com/uploads/201603/thumb/gorgeous-pink-sakura-sea-vector-material-1-c77ee145e3642573080aa65cdb0fd0ff.jpg);
    }
        .Recipe-Box .item-Box a .Recipe-ico {
            height: 36px;
        } 
       
        .Recipe-Box .item-Box a image {
            margin: 0 auto;
            display: block;
            position: relative;
        }
.Recipe-ico {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: inherit;
    backface-visibility: inherit;
    background-color: transparent;
}
.Recipe-Box .col-md-12 .item-Box a {
    font-weight: bold;
    font-size: 12px;
}
