@model IEnumerable<JamesThew.Models.AboutJame>

@{
    ViewData["Title"] = "James Thew";
}




<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

    <img src="~/images/luladkh.png" style="opacity:0.6" alt="Jame Threw" class="img-responsive" />
    <div class="carousel-caption" role="option">
            <aboutJame>
                        @ViewBag.JameJob<br />

                        @ViewBag.Infor
             </aboutJame>       
    </div>

   
</div>

<div class="Recomment-Box">

    <div class="Recomment-Box row10">

        <div class="item">
            <a  href="">
                <img class="ico" src="">
                <span>Ăn sáng</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Ăn vặt</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Khai vị</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Món chay</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Món chính</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Nhanh - Dễ</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Làm bánh</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Healthy</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Thức uống</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Salad</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Nước chấm</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Pasta - Spaghetti</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Gà</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Snacks</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Bún - Mì - Phở</span>
            </a>
        </div>

        <div class="item">
            <a href="">
                <img class="ico" src="">
                <span>Lẩu</span>
            </a>
        </div>

    </div>

    @*<div class="col-md-3">
            <h2>Application uses</h2>
            <ul>
                <li>Sample pages using ASP.NET Core MVC</li>
                <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>How to</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Add a Controller and View</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Manage User Secrets using Secret Manager.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Use logging to log a message.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Add packages using NuGet.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699319">Target development, staging or production environment.</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Overview</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Conceptual overview of what is ASP.NET Core</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Working with Data</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Security</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Client side development</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Develop on different platforms</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699323">Read more on the documentation site</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h2>Run &amp; Deploy</h2>
            <ul>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Run your app</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Run tools such as EF migrations and more</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Publish to Microsoft Azure Web Apps</a></li>
            </ul>
        </div>*@
</div>
</div>
